.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #392236;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home Page */
.homepage{
  /* background: #000; */
}
.mainform{
  background-color: #70a7c9;
  color:#0d0b0b;
  font-size: 20px;
  border: 5px solid black;
  border-radius: 15px;
  padding:11px 7px;
  margin:11px 7px;
}
#formkibutton{
  background: #000;
  border:3px solid #4caf90;
  border-radius : 10px;
}

i{
  cursor:pointer;
}